<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSO</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--  CSS  -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <!--  GOOGLE FONT  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <section id="logo-top">
      <div class="logo-background">
        <div class="orange-red-crayola"></div>
        <div class="flame"></div>
        <div class="honey-yellow"></div>
        <div class="mountain-meadow"></div>
        <div class="sea-green-crayola"></div>
        <div class="carolina-blue"></div>
        <div class="logo-image-container">
          <img class="logo-image" src="{% static 'images/CSO_BLEK.png' %}" alt="Missing Image">
        </div>
      </div>
    </section>

    <section id="navigation-bar">
      <nav class="navbar navbar-inverse navbar-expand-lg navbar-static-top" role="navigation">
        <div class="navbar-header" style="padding-left: 10px">
            <button class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-elements">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <form class="navbar-search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" name="search" placeholder="Search" autocomplete="off" autofocus="autofocus" type="text">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                       </span>
                  </div>
                </div>
             </form>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-elements">

<!--          <ul class="nav navbar-nav navbar-center">-->
<!--              <form class="form-inline">-->
<!--                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                  <button class="btn btn-outline-success" type="submit">-->
<!--                      <span class="glyphicon glyphicon-search"></span>-->
<!--                  </button>-->
<!--              </form>-->
<!--          </ul>-->

          <ul class="nav navbar-nav navbar-left">
              {% if user.is_authenticated %}
                  <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="nav-item"><a href="#">Members</a></li>
                  <li class="nav-item"><a href="#">Events</a></li>
                  <li class="nav-item"><a href="#">About Us</a></li>
              {% else %}
                  <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="nav-item"><a href="#">Events</a></li>
                  <li class="nav-item"><a href="#">About Us</a></li>
              {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li class="nav-item"><a href="{% url 'accounts:logout' %}">Logout</a></li>
              {% else %}
                  <li class="nav-item"><a href="{% url 'accounts:login' %}">Log in</a></li>
                  <li class="nav-item"><a href="{% url 'accounts:signup' %}">Sign up</a></li>
              {% endif %}
          </ul>
        </div>
      </nav>
      <div class="below-nav"></div>
    </section>

    {% block content %}

    {% endblock %}

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="     crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>